p.homework-task-description {
    font-style: italic;
}

h1.homework-level-1-heading {
    font-size: 2em;
    text-decoration: underline;
}

.homework-original {
    color: #A0A0A0;
}
.homework-corrected {
    color: #000000;
}

section.homework-section p {
    max-width: 50em;
    text-align: justify;
}