.vocabulary-table-heading {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0em 0.5em 0em;
}

.vocable-table {
    border-collapse: collapse;
    border: 1px solid #808080;
}
.vocable-table th,
.vocable-table td {
    border: 1px solid #C0C0C0;
}

.vocable-table th {
    padding: 0.4em;
    text-align: center;
}
.vocable-table td {
    padding: 0.3em 0.5em 0.3em 0.5em;
}

.vocable-table tr:nth-child(even) {
    background-color: #F8F8F8;
}

.vocable-table tr td:nth-child(4) {
    font-size: 1.4em;
}